<h1>Iconos</h1>

<div class="caja-icono" [ngStyle]="{background: fondo}" >
  <ui5-icon name="{{iconSelected}}"  [ngStyle]="{width:fontSize,height:fontSize,color:color}"></ui5-icon>
</div>

<br>
<br><br>
<h1>Buscar</h1>
<input type="text" [(ngModel)]="filtroIconos" (change)="filtrar()" (keyup)="filtrar()" >

<br><br><br><br>





<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
<table>

  <tr>
    <th style="width:200px">Nombre</th>
    <th>Icono</th>
  </tr>



    <tr *cdkVirtualFor="let item of datanombres" class="example-item" >

   <ng-container>
     <td style="width:200px">{{item.nombre}}</td>
     <td style="cursor:pointer" (click)="seleccionarNombre(item)">
       <div class="caja-icono" [ngStyle]="{background: fondo}" >
         <ui5-icon name="{{item.nombre}}"  [ngStyle]="{width:fontSize,height:fontSize,color:color}"></ui5-icon>
       </div>
     </td>
   </ng-container>


    </tr>




</table>
</cdk-virtual-scroll-viewport>

<h1>Tamaño del icono</h1>
<input type="number" (change)="cambiarTama($event)"  >


<h1>Color Icono</h1>

<input type="color" id="icono" name="head"  [(ngModel)]="color" />
<h1>Color Fondo</h1>
<input type="color" id="fondo" name="head"  [(ngModel)]="fondo" />


